footer.bg-body-tertiary.text-center.text-lg-start.footer
    div.text-center.p-3.footer
        div.d-flex.justify-content-center.align-items-center.gap-3
            a(href="https://lenguasmodernas.ucr.ac.cr/")
                img.footer-logo(src="images/LogoTCU501.png", alt="Logo TCU 501")
            a(href="https://www.ucr.ac.cr/")
                img.footer-logo(src="images/ucr_logo.png", alt="UCR Logo")
            a(href="https://tcu.ucr.ac.cr/")
                img.footer-logo(src="images/tculogo.png", alt="TCU Logo general")
            a(href="https://lenguasmodernas.ucr.ac.cr/")
                img.footer-logo(src="images/elm_logo.png", alt="Escuela de Lenguas Modernas Logo")