doctype html
html
  head
    title= title
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous")
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(href="https://fonts.googleapis.com/css2?family=Modak&display=swap" rel="stylesheet")
    link(href='https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
//--
    nav#navbar
      div.container
        h1.navbar-header= title
        button(id="about-us-btn" name="about-us-btn" class="btn-about-us" type="button") About us

block content
div.container.main_title_container.text-center
  h1.main_title_1.main_title Play<br><span class="main_title_2 main_title">&amp;</span><span class="main_title_3 main_title"> Learn</span>

  h2.sub_title A TCU-501 Project

  p.introduction_text Get ready for an exciting adventure in English! At Play & Learn, we believe that learning should be fun and engaging. Our website is designed to make English learning a thrilling experience for kids of all ages. Through interactive games, captivating stories, and exciting challenges, we'll guide you on a journey of discovery where you'll build vocabulary, improve grammar, and develop essential communication skills without even realizing you're learning! So, come join the fun and let's make English learning an unforgettable adventure!


  div.games_container
    div.game_container
      div.game_header
        h1 Who is that Famous? Slide Puzzle
      div.game_image_container#slide-go-btn
        img.game_logo(src="/images/games_thumbnail/SlidePuzzle.png", alt="Imagen de un juego")

  div.games_container
    div.game_container
      div.game_header
        h1 Wordle
      div.game_image_container#wordle-go-btn
        img.game_logo(src="/images/games_thumbnail/Wordle.png", alt="Imagen de un juego")

.modal.fade#about-us-modal(tabindex="-1", role="dialog", aria-labelledby="about-us-modal", aria-hidden="true", data-backdrop="static", data-bs-backdrop="static")
  .modal-dialog.modal-dialog-centered(role="document")
    .modal-content
      .modal-header.text-white
        h5.modal-title#exampleModalLongTitle About Us! 🙂
          span(aria-hidden="true")
      .modal-body#modal-about-us-body
        h2.text-center(style="font-family: 'Comic Sans MS', cursive;") TCU-501: 🌟
        p(style="font-size: 1.2rem;") 📧 Email: tcu501.elm@ucr.ac.cr
        p(style="font-size: 1.2rem;") 🌐 Web Page:
          a(href="https://lenguasmodernas.ucr.ac.cr/tcu-501/" target="_blank", style="text-decoration: none;") TCU 501
        h2.text-center(style="font-family: 'Comic Sans MS', cursive;") Coordinator TCU-501: 👩‍🏫
        p(style="font-size: 1.2rem;") Mag. Roxana Chévez H.
        h2.text-center(style="font-family: 'Comic Sans MS', cursive;") Developer: 👨‍💻
        p(style="font-size: 1.2rem;") David Alessandro Cerdas Alvarado
        h2.text-center(style="font-family: 'Comic Sans MS', cursive;") Audio voice lines: 🎤
        p(style="font-size: 1.2rem;") Sharon Rojas Medina
        h2.text-center(style="font-family: 'Comic Sans MS', cursive;") External Resources: 📚
        p(style="font-size: 1.2rem;") --
      .modal-footer
        button.btn.m-auto.btn-close-about-us#btn-close(type="button", data-bs-dismiss="modal") 🛑 Close


include footer.pug

  script(type="module" src='/javascripts/index.js')
  script(src='https://code.jquery.com/jquery-3.2.1.min.js'
    integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4='
    crossorigin='anonymous')

  script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous")
  script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous")
  script(src="https://kit.fontawesome.com/f89b691d16.js" crossorigin="anonymous")
