body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F4E8E3;
}

a {
  color: #00B7FF;
}

#navbar {
  background-color: #44A49C;
  margin: 0;
  color: white;
  overflow: hidden;

}

#navbar div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 60px;
}