body {
    background-color: #FF4F81;
}

.board_container {
    text-align: center;
    color: #9a9c9e;

}

#board {
    width: 380px;
    height: 380px;
    background-color: #9a9c9e;
    border: 10px solid #9a9c9e;
    margin: 50px auto 0;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
}

#board img {
    width: 118px;
    height: 118px;
    border: 1px solid #0c67ae;
}

#WinModalCenter {
    background-color: #5B5BEF;
}
.win-modal-header {
    background-color: #5B5BEF;
    color: white;
    font-family: "Asap", serif;
}
.win-modal-footer {
    background-color: #5B5BEF;
    color: white;
    font-family: "Asap", serif;
}

.header-win-modal {
    font-family: "Asap", serif;
    color: white;
    font-weight: 700;
}

.subtitle-win-modal {
    font-family: "Asap", serif;
    color: white;
    font-weight: 400;
}

.heroe-description {
    font-family: "Asap", serif;
    color: white;
    font-weight: 300;
}