footer.bg-body-tertiary.text-center.text-lg-start.footer
    div.text-center.p-3.footer
        a(href="https://lenguasmodernas.ucr.ac.cr/")
            img(src="images/logoTCU501.png", alt="Logo TCU 501")
        a(href="https://www.ucr.ac.cr/")
            img(src="images/ucr_logo.png", alt="UCR Logo")
        a(href="https://tcu.ucr.ac.cr/")
            img(src="images/tculogo.png", alt="TCU Logo general")
        a(href="https://lenguasmodernas.ucr.ac.cr/")
            img(src="images/elm_logo.png", alt="Escuela de Lenguas Modernas Logo")