extends layout

block content
  div.games_container
    div.game_container
      div.game_header
        h1 Who is that Famous? Slide Puzzle
      div.game_image_container
        img.game_logo(src="", alt="Imagen de un juego")

  div.games_container
    div.game_container
      div.game_header
        h1 Build your own hero!
      div.game_image_container
        img.game_logo(src="", alt="Imagen de un juego")

  div.games_container
    div.game_container
      div.game_header
        h1 Heroic Soup Letter
      div.game_image_container
        img.game_logo(src="", alt="Imagen de un juego")
