extends layout

block content
    head
        link(rel='stylesheet', href='/stylesheets/slide_puzzle.css')

    div.board_container
        div.board#board
        h1.turns Turns:
            span.turns#turns 0

    script(type="module" src='/javascripts/slide_puzzle.js')