extends layout

block content
    head
        link(rel='stylesheet', href='/stylesheets/wordle.css')

    div.game_container
        div#game
        div.container.btns-container
            button.btn.btn-primary.btn-newgame#btn-newgame(type="button") New Game
            button.btn.btn-primary.btn-instructions#btn-instructions(type="button") Instructions
            button.btn.btn-primary.btn-instructions#btn-hints(type="button") Hints
        .keyboard-container
          each row in [['Q', 'W', 'E', 'R', 'T', 'Y', 'U', 'I', 'O', 'P'],['A', 'S', 'D', 'F', 'G', 'H', 'J', 'K', 'L'], ['Z', 'X', 'C', 'V', 'B', 'N', 'M'],['Backspace', 'Enter']]
            .keyboard-row
              each key in row
                  .key(data-key=key)= key

    .modal.fade#WinModalCenter(tabindex="-1", role="dialog", aria-labelledby="WinModalCenter", aria-hidden="true", data-backdrop="static")
        .modal-dialog.modal-dialog-centered(role="document")
            .modal-content
                .modal-header
                    h5.modal-title#FinalModalTitle
                        span(aria-hidden="true")
                .modal-body#modal-winner-body
                .modal-footer
                    button.btn.btn-secondary.m-auto.close(type="button", data-dismiss="modal") Close

    .modal.fade#HintModalCenter(tabindex="-1", role="dialog", aria-labelledby="HintModalCenter", aria-hidden="true", data-backdrop="static")
        .modal-dialog.modal-dialog-centered(role="document")
            .modal-content
                .modal-header
                    h5.modal-title#HintModalTitle Hints
                        span(aria-hidden="true")
                .modal-body#modal-hint-body
                .modal-footer
                    button.btn.btn-secondary.m-auto.close(type="button", data-dismiss="modal") Close

    .modal.fade#instructions-modal(tabindex="-1", role="dialog", aria-labelledby="instructions-modal", aria-hidden="true", data-backdrop="static")
        .modal-dialog.modal-dialog-centered(role="document")
            .modal-content
                .modal-header
                    h5.modal-title Instructions 游닇
                        span(aria-hidden="true")
                .modal-body
                    h6 English:
                    ol(type="1")
                        li The goal is to guess a five-letter secret word.
                        li How to guess? Enter five-letter words in the provided text box.
                        li Click "Accept" or press "Enter" to submit the typed word.
                        li After each attempt, you will receive clues about the secret word. Correct letters in the correct position will be displayed in green.
                        Correct letters but in the wrong position will be indicated in yellow.
                        li There is a limited number of 7 attempts.
                        li To play again press the button "New Game"

                    h6 Espa침ol:
                    ol(type="1")
                        li El objetivo es adivinar una palabra secreta de cinco letras.
                        li Haz clic en "Aceptar" o presiona "Enter" para enviar la palabra escrita.
                        li Despu칠s de cada intento, recibir치s pistas sobre la palabra secreta. Las letras correctas en la posici칩n correcta se mostrar치n de color verde.
                        Las letras correctas pero en la posici칩n incorrecta se indicar치n de color amarillo.
                        li Hay un n칰mero limitado de 7 intentos
                        li Si deseas jugar otra partida selecciona el bot칩n de "New Game"
                .modal-footer
                    button.btn.btn-secondary.m-auto.close(type="button", data-dismiss="modal") Close
    script(type="module" src='/javascripts/wordle.js')